body {
    font-family: 'Roboto', sans-serif;
}

nav img.logo {
    height: 34px;
    width: auto;
}

.nav-link.active {
    text-decoration: underline;
}

/* personalizzazione stampa benemerenza */
.benemerenza {
    width: 8.3in;  /* A4 format */
    height: 11.7in;  /* A4 format */
    page-break-after: always;
}
.benemerenza .riga-comune-avis {
    height: 50%;
    /* height: 4.2in; */
}
.benemerenza .riga-donatore {
    height: 40%;
}
.benemerenza .riga-pres-segr {
    height: 5%;
}
.benemerenza .riga-luogo-data {
    height: 5%;
    padding-left: 50px;
}

/* personalizzazione stampa etichette */
.etichette-riga {
    /**
     * inserire eventuali margini sx e dx,
     * top e bottom non funzionano al cambio di pagina
     **/
    margin-left: 2mm;
}
.etichetta {
    height: 37mm;
}

.badge-tipo-donazione-0 {
    background-color: #c9c9c9;
}
.badge-tipo-donazione-1 {
    background-color: #9c0c1a;
}
.badge-tipo-donazione-2 {
    background-color: #ffc107;
}
.badge-tipo-donazione-3 {
    background-color: #fa7884;
}
.badge-tipo-donazione-4 {
    background-color: #fc6f03;
}
.badge-tipo-donazione-5 {
    background-color: #c203fc;
}
