{% extends 'avis/base.html' %}

{% block content %}

Anno: {{ anno }}

<br />

<table class="table">
    <thead class="table-light">
        <tr>
            <th scope="col" rowspan="3">&nbsp;</th>
            <th scope="col" rowspan="2" colspan="3" class="align-middle text-center">Genere</th>
            <th scope="col" colspan="16" class="align-middle text-center">Fasce d'et&agrave;</th>
        </tr>
        <tr>
            <th scope="col" colspan="8" class="align-middle text-center">Maschi</th>
            <th scope="col" colspan="8" class="align-middle text-center">Femmine</th>
        </tr>
        <tr>
            <th scope="col" class="align-middle text-center">Maschi</th>
            <th scope="col" class="align-middle text-center">Femmine</th>
            <th scope="col" class="align-middle text-center">Totale</th>
            <th scope="col" class="align-middle text-center">18/25</th>
            <th scope="col" class="align-middle text-center">26/35</th>
            <th scope="col" class="align-middle text-center">36/45</th>
            <th scope="col" class="align-middle text-center">46/55</th>
            <th scope="col" class="align-middle text-center">56/65</th>
            <th scope="col" class="align-middle text-center">Oltre 65</th>
            <th scope="col" class="align-middle text-center">N/D</th>
            <th scope="col" class="align-middle text-center">Totale</th>
            <th scope="col" class="align-middle text-center">18/25</th>
            <th scope="col" class="align-middle text-center">26/35</th>
            <th scope="col" class="align-middle text-center">36/45</th>
            <th scope="col" class="align-middle text-center">46/55</th>
            <th scope="col" class="align-middle text-center">56/65</th>
            <th scope="col" class="align-middle text-center">Oltre 65</th>
            <th scope="col" class="align-middle text-center">N/D</th>
            <th scope="col" class="align-middle text-center">Totale</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Soci Donatori</th>
            <td scope="col" class="text-center">{{ stats.Soci_Donatori.Maschi.Totale }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Donatori.Femmine.Totale }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Donatori.Totale }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Donatori.Maschi.18_25 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Donatori.Maschi.26_35 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Donatori.Maschi.36_45 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Donatori.Maschi.46_55 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Donatori.Maschi.56_65 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Donatori.Maschi.Oltre_65 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Donatori.Maschi.N_D }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Donatori.Maschi.Totale }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Donatori.Femmine.18_25 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Donatori.Femmine.26_35 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Donatori.Femmine.36_45 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Donatori.Femmine.46_55 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Donatori.Femmine.56_65 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Donatori.Femmine.Oltre_65 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Donatori.Femmine.N_D }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Donatori.Femmine.Totale }}</td>
        </tr>
        <tr>
            <th>Soci Non Donatori</th>
            <td scope="col" class="text-center">{{ stats.Soci_Non_Donatori.Maschi.Totale }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Non_Donatori.Femmine.Totale }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Non_Donatori.Totale }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Non_Donatori.Maschi.18_25 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Non_Donatori.Maschi.26_35 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Non_Donatori.Maschi.36_45 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Non_Donatori.Maschi.46_55 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Non_Donatori.Maschi.56_65 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Non_Donatori.Maschi.Oltre_65 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Non_Donatori.Maschi.N_D }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Non_Donatori.Maschi.Totale }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Non_Donatori.Femmine.18_25 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Non_Donatori.Femmine.26_35 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Non_Donatori.Femmine.36_45 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Non_Donatori.Femmine.46_55 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Non_Donatori.Femmine.56_65 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Non_Donatori.Femmine.Oltre_65 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Non_Donatori.Femmine.N_D }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Non_Donatori.Femmine.Totale }}</td>
        </tr>
        <tr>
            <th>Soci Nuovi Iscritti</th>
            <td scope="col" class="text-center">{{ stats.Soci_Nuovi_Iscritti.Maschi.Totale }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Nuovi_Iscritti.Femmine.Totale }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Nuovi_Iscritti.Totale }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Nuovi_Iscritti.Maschi.18_25 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Nuovi_Iscritti.Maschi.26_35 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Nuovi_Iscritti.Maschi.36_45 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Nuovi_Iscritti.Maschi.46_55 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Nuovi_Iscritti.Maschi.56_65 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Nuovi_Iscritti.Maschi.Oltre_65 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Nuovi_Iscritti.Maschi.N_D }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Nuovi_Iscritti.Maschi.Totale }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Nuovi_Iscritti.Femmine.18_25 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Nuovi_Iscritti.Femmine.26_35 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Nuovi_Iscritti.Femmine.36_45 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Nuovi_Iscritti.Femmine.46_55 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Nuovi_Iscritti.Femmine.56_65 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Nuovi_Iscritti.Femmine.Oltre_65 }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Nuovi_Iscritti.Femmine.N_D }}</td>
            <td scope="col" class="text-center">{{ stats.Soci_Nuovi_Iscritti.Femmine.Totale }}</td>
        </tr>
    </tbody>
</table>


<br />

<table class="table">
    <thead class="table-light">
        <tr>
            <th scope="col" rowspan="2">&nbsp;</th>
            <th scope="col" colspan="10" class="align-middle text-center">Per Gruppo Ematico</th>
        </tr>
        <tr>
            <th scope="col" class="text-center">0 RH+</th>
            <th scope="col" class="text-center">0 RH-</th>
            <th scope="col" class="text-center">A RH+</th>
            <th scope="col" class="text-center">A RH-</th>
            <th scope="col" class="text-center">B RH+</th>
            <th scope="col" class="text-center">B RH-</th>
            <th scope="col" class="text-center">AB RH+</th>
            <th scope="col" class="text-center">AB RH-</th>
            <th scope="col" class="text-center">N/D</th>
            <th scope="col" class="text-center">Totale</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Soci Donatori</th>
            <td scope="col" class="text-center">{{ stats_gruppo.0_RHp }}</td>
            <td scope="col" class="text-center">{{ stats_gruppo.0_RHn }}</td>
            <td scope="col" class="text-center">{{ stats_gruppo.A_RHp }}</td>
            <td scope="col" class="text-center">{{ stats_gruppo.A_RHn }}</td>
            <td scope="col" class="text-center">{{ stats_gruppo.B_RHp }}</td>
            <td scope="col" class="text-center">{{ stats_gruppo.B_RHn }}</td>
            <td scope="col" class="text-center">{{ stats_gruppo.AB_RHp }}</td>
            <td scope="col" class="text-center">{{ stats_gruppo.AB_RHn }}</td>
            <td scope="col" class="text-center">{{ stats_gruppo.N_D }}</td>
            <td scope="col" class="text-center">{{ stats_gruppo.Totale }}</td>
        </tr>
    </tbody>
</table>

<br />

<table class="table">
    <thead class="table-light">
        <tr>
            <th scope="col" rowspan="2">&nbsp;</th>
            <th scope="col" colspan="10" class="align-middle text-center">Tipo donazione per genere</th>
        </tr>
        <tr>
            <th scope="col" class="text-center">Donazioni Maschi</th>
            <th scope="col" class="text-center">Donazioni Femmine</th>
            <th scope="col" class="text-center">Totale</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Sangue Intero</th>
            <td scope="col" class="text-center">{{ stats_tipo.Sangue_Intero.Maschi }}</td>
            <td scope="col" class="text-center">{{ stats_tipo.Sangue_Intero.Femmine }}</td>
            <td scope="col" class="text-center">{{ stats_tipo.Sangue_Intero.Totale }}</td>
        </tr>
        <tr>
            <th>Plasmaferesi</th>
            <td scope="col" class="text-center">{{ stats_tipo.Plasmaferesi.Maschi }}</td>
            <td scope="col" class="text-center">{{ stats_tipo.Plasmaferesi.Femmine }}</td>
            <td scope="col" class="text-center">{{ stats_tipo.Plasmaferesi.Totale }}</td>
        </tr>
        <tr>
            <th>Altre Donazioni</th>
            <td scope="col" class="text-center">{{ stats_tipo.Altre_donazioni.Maschi }}</td>
            <td scope="col" class="text-center">{{ stats_tipo.Altre_donazioni.Femmine }}</td>
            <td scope="col" class="text-center">{{ stats_tipo.Altre_donazioni.Totale }}</td>
        </tr>
    </tbody>
</table>

<br />

donazioni_no_data_rilascio_tessera: {{ donazioni_no_data_rilascio_tessera }}

<br />

donazioni_no_data_nascita: {{ donazioni_no_data_nascita }}

{% endblock %}