{% extends 'avis/base.html' %}

{% block content %}

<div class="row m-2 align-items-center">
    <div class="col-6 d-print-none">
        <span class="ps-2">
            {% if donatore.check_privacy %}
            <i class="bi bi-check-square-fill"></i>
            Modulo privacy consegnato
            {% else %}
            <i class="bi bi-square"></i>
            Modulo privacy da consegnare
            {% endif %}
        </span>
    </div>
    <div class="col-6 text-end d-print-none">
        <a class="btn btn-outline-secondary" href="#"
            onclick="handleAddRemovePrint(event, 'add', '{% url 'donatore-add-stampa' pk=donatore.pk %}')">
            Aggiungi a elenco stampa
        </a>
        <a class="btn btn-outline-secondary" href="{% url 'donatori' %}?stampa=benemerenze&donatore_id={{ donatore.id }}" target="_blank">
            Benemerenza
        </a>
        <a class="btn btn-outline-secondary" href="{% url 'admin:avis_donatore_change' donatore.id %}" target="_blank">
            Modifica
        </a>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <div class="row g-2">
            <div class="col-4 text-center">
                N. Tessera C.T. {{ donatore.num_tessera_ct }}
            </div>
            <div class="col-4 text-center">
                {% if donatore.data_iscrizione and donatore.data_iscrizione.year > 1900 %}
                Iscritt{% if donatore.sesso.codice == 'M' %}o{% else %}a{% endif %} dal {{ donatore.data_iscrizione | date:'d/m/Y' }}
                {% endif %}
                <!-- {% if donatore.data_rilascio_tessera and donatore.data_rilascio_tessera.year > 1900 %}
                (tessera rilasciata il {{ donatore.data_rilascio_tessera | date:'d/m/Y' }})
                {% endif %} -->
            </div>
            <div class="col-4 text-center">
                Tessera AVIS N. {{ donatore.num_tessera_avis }}
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row g-2">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        Cognome
                    </div>
                    <div class="card-body">
                        <h3 class="card-text">
                            {{ donatore.cognome }}
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        Nome
                    </div>
                    <div class="card-body">
                        <h3 class="card-text">
                            {{ donatore.nome }}
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        Data e luogo di nascita
                    </div>
                    <div class="card-body">
                        <h6 class="card-text">
                            {{ donatore.data_nascita | date:'d/m/Y' }}
                            {{ donatore.luogo_nascita }}
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        Informazioni
                    </div>
                    <div class="card-body">
                        <h6 class="card-text">
                            Sesso: {{ donatore.sesso.codice }}
                            {% if donatore.codice_fiscale %}
                            Cod. Fiscale: {{ donatore.codice_fiscale }}
                            {% endif %}
                        </h6>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        Indirizzo
                    </div>
                    <div class="card-body">
                        <h6 class="card-text">
                            {% if donatore.indirizzo %}
                            {{ donatore.indirizzo }}<br>
                            {% endif %}
                            {% if donatore.frazione %}
                            {{ donatore.frazione }}<br>
                            {% endif %}
                            {% if donatore.cap or donatore.comune or donatore.provincia %}
                            {% if donatore.cap %}{{ donatore.cap }} {% endif %}
                            {{ donatore.comune }}
                            {% if donatore.provincia %} ({{ donatore.provincia }}){% endif %}
                            {% endif %}
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        Contatti
                    </div>
                    <div class="card-body">
                        <h6 class="card-text">
                            {% if donatore.email %}
                            Email: {{ donatore.email }}<br>
                            {% endif %}
                            {% if donatore.telefono %}
                            Tel.: {{ donatore.telefono }}<br>
                            {% endif %}
                            {% if donatore.cellulare %}
                            Cell.: {{ donatore.cellulare }}<br>
                            {% endif %}
                            {% if donatore.telefono_lavoro %}
                            Tel. lavoro: {{ donatore.telefono_lavoro }}<br>
                            {% endif %}
                            {% if donatore.fax %}
                            Fax: {{ donatore.fax }}<br>
                            {% endif %}
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        Iscrizione all'AVIS
                    </div>
                    <div class="card-body">
                        <h6 class="card-text">
                            {% if donatore.data_iscrizione and donatore.data_iscrizione.year > 1900 %}
                            Iscritt{% if donatore.sesso.codice == 'M' %}o{% else %}a{% endif %} dal {{ donatore.data_iscrizione | date:'d/m/Y' }}
                            {% endif %}
                            <!-- {% if donatore.data_rilascio_tessera and donatore.data_rilascio_tessera.year > 1900 %}
                            (tessera rilasciata il {{ donatore.data_rilascio_tessera | date:'d/m/Y' }})
                            {% endif %} -->
                            {% if donatore.data_cessata_iscrizione %}
                            <br>
                            Cessata iscrizione dal {{ donatore.data_cessata_iscrizione | date:'d/m/Y' }}
                            {% endif %}
                            {% if donatore.causa_cessata_iscrizione %}
                            <br>
                            Motivo cessata iscrizione: {{ donatore.causa_cessata_iscrizione }}
                            {% endif %}
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        Stato donat{% if donatore.sesso.codice == 'M' %}ore{% else %}rice{% endif %}
                    </div>
                    <div class="card-body">
                        <h6 class="card-text">
                            {{ donatore.stato_donatore.descrizione }}
                            {% if donatore.motivo_inattivita %}
                            <br>Motivo inattività: {{ donatore.motivo_inattivita }}
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        Donazioni
                    </div>
                    <div class="card-body">
                        <h6 class="card-text">
                            Totale donazioni effettuate: {{ donatore.donazioni.all.count|add:donatore.donazioni_pregresse }}
                            {% if donatore.donazioni_pregresse > 0 %}
                            <br>Donazioni inserite: {{ donatore.donazioni.all.count }}
                            <br>Donazioni pregresse: {{ donatore.donazioni_pregresse }}
                            {% endif %}
                            {% if donatore.sezione.configurazione_benemerenze %}
                                <br>Benemerenze conseguite: {{ donatore.num_benemerenze_conseguite }}
                                {% if donatore.num_benemerenze_consegnate and donatore.num_benemerenze_conseguite == donatore.num_benemerenze_consegnate %}
                                <br>Benemerenze consegnate: {{ donatore.num_benemerenze_consegnate }} <i class="bi bi-check-circle-fill" style="color:green;"></i>
                                {% elif donatore.num_benemerenze_conseguite %}
                                <br>Benemerenze consegnate: {{ donatore.num_benemerenze_consegnate }} <i class="bi bi-exclamation-triangle-fill" style="color:orange;"></i>
                                {% endif %}
                            {% elif donatore.num_benemerenze_consegnate %}
                            <br>Benemerenze consegnate: {{ donatore.num_benemerenze_consegnate }}
                            {% endif %}
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        Determinazione gruppo sanguigno
                    </div>
                    <div class="card-body">
                        <h6 class="card-text">
                            <div class="row">
                                <div class="col-12">
                                    Gruppo: {{ donatore.gruppo_sanguigno }}
                                    RH {% if donatore.rh == '+' %}POSITIVO{% elif donatore.rh == '-' %}NEGATIVO{% else %}{{ donatore.rh }}{% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    Fenotipo: {{ donatore.fenotipo }}
                                </div>
                                <div class="col-6">
                                    KELL: {{ donatore.kell }}
                                </div>
                            </div>
                        </h6>
                    </div>
                </div>
            </div>

            {% if donatore.scheda_anamnestica %}
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        Scheda anamnestica
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            {{ donatore.scheda_anamnestica|linebreaksbr }}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="col-12 {% if donatore.donazioni.all.count <= 0 %}d-print-none{% endif %}">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-9">
                                Elenco donazioni
                            </div>
                            <div class="col-sm-3 text-end d-print-none">
                                <a class="btn btn-primary btn-sm" href="{% url 'donazione-create' donatore.id %}">
                                    Nuova donazione
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <table class="table table-sm mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col">Data</th>
                                        <th scope="col">Tipo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for donazione in donatore.donazioni.all %}
                                    <tr>
                                        <td>{{ donazione.data_donazione }}</td>
                                        <td>
                                            <span class="badge badge-tipo-donazione-{{ donazione.tipo_donazione|default_if_none:"0" }} rounded-pill d-print-none">
                                                &nbsp;
                                            </span>                        
                                            {{ donazione.get_tipo_donazione_display }}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
