{% extends 'avis/base.html' %}

{% block content %}

<form type="get" action="/donatori" class="d-print-none" style="margin: 0;">
    <div class="m-1 row">
        <label class="col-sm-2 col-form-label">Ricerca</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="ricerca" placeholder="Ricerca generica..." value="{{ ricerca }}" autofocus />
        </div>
    </div>
    {% if sezioni.count > 1 %}
    <div class="m-1 row">
        <label class="col-sm-2 col-form-label">Sezione</label>
        <div class="col-sm-10">
            <select class="form-select" name="sezione_id">
                <option value="">Tutte</option>
                {% for sezione in sezioni %}
                <option value="{{ sezione.id }}"{% if sezione.id == sezione_id %} selected{% endif %}>{{ sezione.descrizione }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% endif %}
    <div class="m-1 row">
        <label class="col-sm-2 col-form-label">Stato donatore</label>
        <div class="col-sm-4">
            <select class="form-select" name="stato_donatore_id">
                <option value="">Qualsiasi</option>
                {% for stato_donatore in stati_donatore %}
                <option value="{{ stato_donatore.id }}"{% if stato_donatore.id == stato_donatore_id %} selected{% endif %}>{{ stato_donatore.descrizione }}</option>
                {% endfor %}
            </select>
        </div>

        <label class="col-sm-2 col-form-label">Sesso</label>
        <div class="col-sm-4">
            <select class="form-select" name="sesso_id">
                <option value="">-</option>
                {% for sesso in sessi %}
                <option value="{{ sesso.id }}"{% if sesso.id == sesso_id %} selected{% endif %}>{{ sesso.codice }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button{% if not show_advanced %} collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Ricerca avanzata
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse{% if not show_advanced %} collapse{% endif %}" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body p-0">
                <div class="m-1 row">
                    <label class="col-sm-2 col-form-label">Data iscrizione dal</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" name="data_iscrizione_dal" value="{{ data_iscrizione_dal }}" />
                    </div>

                    <label class="col-sm-2 col-form-label">al</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" name="data_iscrizione_al" value="{{ data_iscrizione_al }}" />
                    </div>
                </div>

                <div class="m-1 row">
                    <label class="col-sm-2 col-form-label">Data nascita dal</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" name="data_nascita_dal" value="{{ data_nascita_dal }}" />
                    </div>

                    <label class="col-sm-2 col-form-label">al</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" name="data_nascita_al" value="{{ data_nascita_al }}" />
                    </div>
                </div>

                <div class="m-1 row">
                    <label class="col-sm-2 col-form-label">Gruppo sanguigno</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="gruppo_sanguigno" value="{{ gruppo_sanguigno }}" />
                    </div>
                    <label class="col-sm-1 col-form-label">Rh</label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control" name="rh" value="{{ rh }}" />
                    </div>

                    <label class="col-sm-2 col-form-label">Fenotipo</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="fenotipo" value="{{ fenotipo }}" />
                    </div>
                    <label class="col-sm-1 col-form-label">Kell</label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control" name="kell" value="{{ kell }}" />
                    </div>
                </div>

                <div class="m-1 row">
                    <label class="col-sm-2 col-form-label">Donazioni tra il</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" name="data_donazione_dal" value="{{ data_donazione_dal }}" />
                    </div>

                    <label class="col-sm-2 col-form-label">e il</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" name="data_donazione_al" value="{{ data_donazione_al }}" />
                    </div>
                </div>

                <div class="m-1 row">
                    <label class="col-sm-2 col-form-label">Comune</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="comune" value="{{ comune }}" />
                    </div>
                    <label class="col-sm-1 col-form-label">Prov.</label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control" name="provincia" value="{{ provincia }}" />
                    </div>
                    <label class="col-sm-1 col-form-label">CAP</label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control" name="cap" value="{{ cap }}" />
                    </div>
                    <label class="col-sm-1 col-form-label">non CAP</label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control" name="cap_diverso" value="{{ cap_diverso }}" />
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>

    <div class="m-1 row">
        <label class="col-sm-2 col-form-label">Visualizza le ultime</label>
        <div class="col-sm-2">
            <input type="number" class="form-control form-control-inline" name="show_n_donazioni" value="{{ show_n_donazioni }}" min="0" max="12" />
        </div>
        <label class="col-sm-2 col-form-label">donazioni</label>
        <label class="col-sm-2 col-form-label">Visualizza</label>
        <div class="col-sm-2">
            <input type="number" class="form-control form-control-inline" name="paginate_by" value="{{ paginate_by }}" min="1" />
        </div>
        <label class="col-sm-2 col-form-label">risultati per pagina</label>
    </div>

    <div class="m-1 row">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary">Ricerca</button>
            {{ page_obj.paginator.count }} donatori trovati
        </div>
        <div class="col-sm-6 text-end d-print-none">
            <a class="btn btn-outline-secondary" href="?stampa=benemerenze&{{ querystring }}" target="_blank">
                Benemerenze
            </a>
            <a class="btn btn-outline-secondary" href="?stampa=etichette&{{ querystring }}" target="_blank">
                Etichette
            </a>
        </div>
    </div>
</form>

<table class="table">
    <thead class="table-light">
        <tr>
            <th scope="col">N.Tessera</th>
            <th scope="col">Donazioni</th>
            <th scope="col">Nome</th>
            <th scope="col">Sesso</th>
            <th scope="col">Gr.</th>
            <th scope="col">Contatti</th>
            <th scope="col">Indirizzo</th>
            <!-- {% if show_n_donazioni > 0 %}
            <th scope="col">Ultime {{ show_n_donazioni }} donazioni</th>
            {% endif %} -->
        </tr>
    </thead>
    <tbody>
        {% for donatore in page_obj %}
        <tr style="page-break-inside:avoid; page-break-after:avoid;">
            <th scope="row">
                <a href="{% url 'donatore' pk=donatore.pk %}">
                    {{ donatore.num_tessera }}
                </a>
            </th>
            <td>
                {{ donatore.tot_donazioni }}
                <!-- ({{ donatore.donazioni_pregresse }} + {{ donatore.num_donazioni }})-->
            </td>
            <td>{{ donatore.cognome }} {{ donatore.nome }}</td>
            <td>{{ donatore.sesso.codice }}</td>
            <td>
                {{ donatore.gruppo_sanguigno }}{{ donatore.rh }}
            </td>
            <td>
                {% if donatore.email %}
                {{ donatore.email }}<br>
                {% endif %}
                {% if donatore.telefono %}
                {{ donatore.telefono }}<br>
                {% endif %}
                {% if donatore.cellulare %}
                {{ donatore.cellulare }}<br>
                {% endif %}
            </td>
            <td>
                {% if donatore.indirizzo %}
                {{ donatore.indirizzo }}<br>
                {% endif %}
                {% if donatore.frazione %}
                {{ donatore.frazione }}<br>
                {% endif %}
                {% if donatore.cap or donatore.comune or donatore.provincia %}
                {% if donatore.cap %}{{ donatore.cap }} {% endif %}
                {{ donatore.comune }}
                {% if donatore.provincia.strip %} ({{ donatore.provincia }}){% endif %}
                <br>
                {% endif %}
            </td>
            <!-- {% if show_n_donazioni > 0 %}
            <td>
                {% for donazione in donatore.donazioni.all|slice:show_n_donazioni %}
                <span class="badge text-bg-light">
                    {{ donazione.data_donazione | date:'d/m/y' }}
                </span>
                {% endfor %}
            </td>
            {% endif %} -->
        </tr>
        {% if show_n_donazioni > 0 %}
        <tr style="page-break-inside:avoid; page-break-before:avoid;">
            <td colspan="100%">
                Ultime {{ show_n_donazioni }} donazioni:
                {% for donazione in donatore.donazioni.all|slice:show_n_donazioni %}
                <span class="badge {% if donazione.tipo_donazione == 1 %}text-bg-danger{% elif donazione.tipo_donazione == 2 %}text-bg-warning{% else %}text-bg-light{% endif %}">
                    {{ donazione.data_donazione | date:'d/m/y' }}
                </span>
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    &laquo;
                </a>
            </li>
        {% else %}
            <li class="disabled page-item">
                <span class="page-link">
                    &laquo;
                </span>
            </li>
        {% endif %}
        {% for i in page_range %}
            {% if page_obj.number == i %}
                <li class="active page-item">
                    <span class="page-link">
                        {{ i }}
                    </span>
                </li>
            {% else %}
                {% if i == page_obj.paginator.ELLIPSIS %}
                    <li class="page-item">
                        <span class="page-link">
                            {{ i }}
                        </span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}&{{ querystring }}">
                            {{ i }}
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ querystring }}">
                    &raquo;
                </a>
            </li>
        {% else %}
            <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
        {% endif %}
    </ul>
</nav>

{% endblock %}
