{% extends 'avis/base.html' %}

{% block content %}

<div class="card">
    <div class="card-body">
        <h2 class="card-title">
            <div class="row">
                <div class="col-sm-9">
                    <h2 class="card-title">
                        {{ donatore.cognome }} {{ donatore.nome }}
                    </h2>
                </div>
                <div class="col-sm-3 text-end d-print-none">
                    <a class="btn btn-outline-secondary" href="{% url 'admin:avis_donatore_change' donatore.id %}" target="_blank">
                        Modifica
                    </a>
                </div>
            </div>
        </h2>
        <div class="card-subtitle mb-2 text-muted">
            Num. tessera: {{ donatore.num_tessera }},
            {% if donatore.data_iscrizione and donatore.data_iscrizione.year > 1900 %}
            iscritt{% if donatore.sesso.codice == 'M' %}o{% else %}a{% endif %} dal {{ donatore.data_iscrizione | date:'d/m/Y' }}
            {% endif %}
            <!-- {% if donatore.data_rilascio_tessera and donatore.data_rilascio_tessera.year > 1900 %}
            (tessera rilasciata il {{ donatore.data_rilascio_tessera | date:'d/m/Y' }})
            {% endif %} -->
        </div>
        <h6 class="card-text">
            {{ tot_donazioni }} donazioni
            {% if donatore.donazioni_pregresse > 0 %}
            ({{ num_donazioni }} attuali + {{ donatore.donazioni_pregresse }} pregresse)
            {% endif %}
            {% if donatore.num_benemerenze > 0 %}
            , {{ donatore.num_benemerenze }} benemerenz{% if donatore.num_benemerenze == 1 %}a{% else %}e{% endif %} ricevut{% if donatore.num_benemerenze == 1 %}a{% else %}e{% endif %}
            {% endif %}
        </h6>
        <p class="card-text">
            <div class="row">
                <div class="col-sm-6 my-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Indirizzo
                            </h5>
                            <p class="card-text">
                                {% if donatore.indirizzo %}
                                {{ donatore.indirizzo }}<br>
                                {% endif %}
                                {% if donatore.frazione %}
                                {{ donatore.frazione }}<br>
                                {% endif %}
                                {% if donatore.cap or donatore.comune or donatore.provincia %}
                                {% if donatore.cap %}{{ donatore.cap }} {% endif %}
                                {{ donatore.comune }}
                                {% if donatore.provincia %} ({{ donatore.provincia }}){% endif %}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 my-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Contatti
                            </h5>
                            <p class="card-text">
                                {% if donatore.email %}
                                Email: {{ donatore.email }}<br>
                                {% endif %}
                                {% if donatore.telefono %}
                                Tel.: {{ donatore.telefono }}<br>
                                {% endif %}
                                {% if donatore.cellulare %}
                                Cell.: {{ donatore.cellulare }}<br>
                                {% endif %}
                                {% if donatore.telefono_lavoro %}
                                Tel. lavoro: {{ donatore.telefono_lavoro }}<br>
                                {% endif %}
                                {% if donatore.fax %}
                                Fax: {{ donatore.fax }}<br>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 my-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Informazioni
                            </h5>
                            <p class="card-text">
                                Gruppo sanguigno {{ donatore.gruppo_sanguigno }} Rh {{ donatore.rh }}
                                {% if donatore.fenotipo %}, fenotipo {{ donatore.fenotipo }}{% endif %}
                                {% if donatore.kell %}, kell {{ donatore.kell }}{% endif %}
                                <br>
                                Sesso: {{ donatore.sesso.codice }}
                                {% if donatore.data_nascita %}
                                <br>
                                Data nascita: {{ donatore.data_nascita | date:'d/m/Y' }}
                                {% endif %}
                                {% if donatore.codice_fiscale %}
                                <br>
                                Cod. Fiscale: {{ donatore.codice_fiscale }}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </p>
        {% if donazioni.count > 0 %}
        <p class="card-text">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">
                        <div class="row">
                            <div class="col-sm-9">
                                <h5>Donazioni</h5>
                            </div>
                            <div class="col-sm-3 text-end d-print-none">
                                <a class="btn btn-outline-secondary btn-sm" href="{% url 'admin:avis_donatore_change' donatore.id %}" target="_blank">
                                    Aggiungi
                                </a>
                            </div>
                        </div>
                    </p>
                    <p class="card-text">
                        <table class="table table-sm mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">Data</th>
                                    <th scope="col">Tipo</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for donazione in donazioni %}
                                <tr>
                                    <td>{{ donazione.data_donazione }}</td>
                                    <td>{{ donazione.get_tipo_donazione_display }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </p>
                </div>
            </div>
        </p>
        {% endif %}
    </div>
</div>

{% endblock %}