{% extends 'avis/base.html' %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Stampa etichette</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="m-1 row">
                        <label class="col-auto col-form-label">Etichette già stampate</label>
                        <div class="col">
                            <input id="skipEtichette" type="number" min="0" max="11" class="form-control" value="0"
                                autofocus />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                <button type="button" class="btn btn-primary"
                    onclick="handlePrint('?stampa=etichette&{{ querystring }}', '_blank')">
                    Stampa Etichette
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    const handlePrint = (baseUrl, target) => {
        const skipEtichetteEl = document.getElementById('skipEtichette');
        const skipEtichette = parseInt(skipEtichetteEl.value);
        window.open(`${baseUrl}&skip_etichette=${skipEtichette}`, target);
        const myModalEl = document.getElementById('myModal');
        const modal = bootstrap.Modal.getInstance(myModalEl);
        modal.hide();
    }
</script>
<!-- End Modal -->

<!-- Modal PulisciElencoStampa -->
<div class="modal fade" id="modalPulisciElencoStampa" tabindex="-1" aria-labelledby="modalPulisciElencoStampaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalPulisciElencoStampaLabel">Sei sicuro di voler pulire l'elenco stampa?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="m-1 row">
                        <label class="col-auto col-form-label">Tutti i donatori aggiunti all'elenco verranno rimossi.</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                <button type="button" class="btn btn-danger"
                    onclick="handleAddRemovePrint(event, 'remove-all', '{% url 'donatore-remove-stampa' %}')">
                    Pulisci
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal PulisciElencoStampa -->


<form type="get" action="/donatori" class="d-print-none" style="margin: 0;">
    <div class="m-1 row">
        <label class="col-sm-2 col-form-label">Ricerca</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="ricerca" placeholder="Ricerca generica..." value="{{ ricerca }}" autofocus />
        </div>
    </div>
    {% if sezioni.count > 1 %}
    <div class="m-1 row">
        <label class="col-sm-2 col-form-label">Sezione</label>
        <div class="col-sm-10">
            <select class="form-select" name="sezione_id">
                <option value="">Tutte</option>
                {% for sezione in sezioni %}
                <option value="{{ sezione.id }}"{% if sezione.id == sezione_id %} selected{% endif %}>{{ sezione.descrizione }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% endif %}
    <div class="m-1 row">
        <label class="col-sm-2 col-form-label">
            Stato donatore
        </label>
        <div class="col-sm-7">
            <div class="row">
                {% for stato_donatore in stati_donatore %}
                <div class="col-md-auto">
                    <input class="form-check-input" type="checkbox"
                        name="stato_donatore_ids"
                        value="{{ stato_donatore.id }}"
                        {% if stato_donatore.id in stato_donatore_ids %}checked{% endif %}
                    >
                    <label class="form-check-label">
                        &nbsp;{{ stato_donatore.descrizione }}
                    </label>
                </div>
                {% endfor %}
            </div>
            <!-- <select class="form-select" name="stato_donatore_id">
                <option value="">Qualsiasi</option>
                {% for stato_donatore in stati_donatore %}
                <option value="{{ stato_donatore.id }}"{% if stato_donatore.id == stato_donatore_id %} selected{% endif %}>{{ stato_donatore.descrizione }}</option>
                {% endfor %}
            </select> -->
            <!-- <select class="form-select" multiple size="3" name="stato_donatore_ids">
                {% for stato_donatore in stati_donatore %}
                <option value="{{ stato_donatore.id }}"{% if stato_donatore.id in stato_donatore_ids %} selected{% endif %}>{{ stato_donatore.descrizione }}</option>
                {% endfor %}
            </select> -->
        </div>

        <label class="col-sm-1 col-form-label">Sesso</label>
        <div class="col-sm-2">
            <select class="form-select" name="sesso_id">
                <option value="">-</option>
                {% for sesso in sessi %}
                <option value="{{ sesso.id }}"{% if sesso.id == sesso_id %} selected{% endif %}>{{ sesso.codice }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button{% if not show_advanced %} collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Ricerca avanzata
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse{% if not show_advanced %} collapse{% endif %}" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body p-0">
                <div class="m-1 row">
                    <label class="col-sm-2 col-form-label">Data iscrizione dal</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" name="data_iscrizione_dal" value="{{ data_iscrizione_dal }}" />
                    </div>

                    <label class="col-sm-2 col-form-label">al</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" name="data_iscrizione_al" value="{{ data_iscrizione_al }}" />
                    </div>
                </div>

                <div class="m-1 row">
                    <label class="col-sm-2 col-form-label">Data nascita dal</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" name="data_nascita_dal" value="{{ data_nascita_dal }}" />
                    </div>

                    <label class="col-sm-2 col-form-label">al</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" name="data_nascita_al" value="{{ data_nascita_al }}" />
                    </div>
                </div>

                <div class="m-1 row">
                    <label class="col-sm-2 col-form-label">Gruppo sanguigno</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="gruppo_sanguigno" value="{{ gruppo_sanguigno }}" />
                    </div>
                    <label class="col-sm-1 col-form-label">Rh</label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control" name="rh" value="{{ rh }}" />
                    </div>

                    <label class="col-sm-2 col-form-label">Fenotipo</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="fenotipo" value="{{ fenotipo }}" />
                    </div>
                    <label class="col-sm-1 col-form-label">Kell</label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control" name="kell" value="{{ kell }}" />
                    </div>
                </div>

                <div class="m-1 row">
                    <label class="col-sm-2 col-form-label">Donazioni tra il</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" name="data_donazione_dal" value="{{ data_donazione_dal }}" />
                    </div>

                    <label class="col-sm-2 col-form-label">e il</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" name="data_donazione_al" value="{{ data_donazione_al }}" />
                    </div>
                </div>

                <div class="m-1 row">
                    <label class="col-sm-2 col-form-label">Benemerenze da</label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" name="benemerenze_da" value="{{ benemerenze_da }}" min="0" />
                    </div>

                    <label class="col-sm-2 col-form-label">a</label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" name="benemerenze_a" value="{{ benemerenze_a }}" min="0" />
                    </div>
                </div>

                <div class="m-1 row">
                    <label class="col-sm-2 col-form-label">Comune</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="comune" value="{{ comune }}" />
                    </div>
                    <label class="col-sm-1 col-form-label">Prov.</label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control" name="provincia" value="{{ provincia }}" />
                    </div>
                    <label class="col-sm-1 col-form-label">CAP</label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control" name="cap" value="{{ cap }}" />
                    </div>
                    <label class="col-sm-1 col-form-label">non CAP</label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control" name="cap_diverso" value="{{ cap_diverso }}" />
                    </div>
                </div>

                <div class="m-1 row">
                    <label class="col-md-2 col-form-label">Visualizza</label>
                    <div class="col-md-10 col-form-label">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="filter_donatori" value=""{% if filter_donatori == '' %} checked{% endif %}>
                            <label class="form-check-label">tutti</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="filter_donatori" value="email"{% if filter_donatori == 'email' %} checked{% endif %}>
                            <label class="form-check-label">con email</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="filter_donatori" value="no_email"{% if filter_donatori == 'no_email' %} checked{% endif %}>
                            <label class="form-check-label">senza email</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="filter_donatori" value="cell"{% if filter_donatori == 'cell' %} checked{% endif %}>
                            <label class="form-check-label">con cell.</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="filter_donatori" value="no_cell"{% if filter_donatori == 'no_cell' %} checked{% endif %}>
                            <label class="form-check-label">senza cell.</label>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>

    <div class="m-2 row align-items-center">
        <div class="col-md-2">
            <label class="form-label">Risultati per pagina</label>
            <input type="number" class="form-control" name="paginate_by" value="{{ paginate_by }}" min="1" />
        </div>
        <div class="col-md-3">
            <label class="form-label">Ordina per</label>
            <select class="form-select" name="order_by">
                <option value="cognome,nome"{% if order_by == 'cognome,nome' %} selected{% endif %}>Cognome, Nome</option>
                <option value="gruppo_sanguigno,rh"{% if order_by == 'gruppo_sanguigno,rh' %} selected{% endif %}>Gruppo Sanguigno</option>
                <option value="comune"{% if order_by == 'comune' %} selected{% endif %}>Comune</option>
                <option value="sesso"{% if order_by == 'sesso' %} selected{% endif %}>Sesso</option>
                <option value="num_donazioni,tot_donazioni"{% if order_by == 'num_donazioni,tot_donazioni' %} selected{% endif %}>Donazioni registrate</option>
                <option value="tot_donazioni,num_donazioni"{% if order_by == 'tot_donazioni,num_donazioni' %} selected{% endif %}>Donazioni totali (incluse pregresse)</option>
                <option value="ultima_donazione"{% if order_by == 'ultima_donazione' %} selected{% endif %}>Data ultima donazione</option>
            </select>
        </div>
        <div class="col-md-2">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="order_by_direction" value=""{% if order_by_direction == '' %} checked{% endif %}>
                <label class="form-check-label">Crescente</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="order_by_direction" value="-"{% if order_by_direction == '-' %} checked{% endif %}>
                <label class="form-check-label">Decrescente</label>
            </div>
        </div>
        <div class="col-md-2">
            <input class="form-check-input me-2" type="checkbox"
                name="show_privacy_check"
                value="1"
                {% if show_privacy_check %}checked{% endif %}
            >
            <label class="form-check-label">
                Visualizza Privacy
            </label>
        </div>
        <div class="col-md-3">
            <label class="form-label">Visualizza ultime donazioni</label>
            <input type="number" class="form-control" name="show_n_donazioni" value="{{ show_n_donazioni }}" min="0" max="12" />
        </div>
    </div>

    <input type="hidden" name="only_stampa" value="{{ only_stampa }}" />

    <div class="m-1 row">
        <div class="col-sm-4">
            <button type="submit" class="btn btn-primary">Ricerca</button>
            {{ page_obj.paginator.count }} donatori trovati
        </div>
        <div class="col-sm-8 text-end d-print-none">
            {% if only_stampa %}
            <a class="btn btn-outline-secondary" href="#"
                data-bs-toggle="modal"
                data-bs-target="#modalPulisciElencoStampa"
            >
                Pulisci elenco stampa
            </a>
            {% endif %}
            <a class="btn btn-outline-secondary" href="?stampa=elenco&{{ querystring }}" target="_blank">
                Stampa elenco
            </a>
            <a class="btn btn-outline-secondary" href="?stampa=emails&{{ querystring }}" target="_blank">
                Elenco email
            </a>
            <a class="btn btn-outline-secondary" href="?stampa=benemerenze&{{ querystring }}" target="_blank">
                Benemerenze
            </a>
            <a class="btn btn-outline-secondary" href="#"
                data-bs-toggle="modal"
                data-bs-target="#myModal"
            >
                Etichette
            </a>
        </div>
    </div>
</form>

<table class="table">
    <thead class="table-light">
        <tr>
            <th scope="col" class="align-middle">
                N. Tessera AVIS<br>
                N. Tessera C.T.
            </th>
            <th scope="col" class="align-middle">Donazioni</th>
            <th scope="col" class="align-middle">Nome</th>
            <th scope="col" class="align-middle">Sesso</th>
            <th scope="col" class="align-middle">Gr.</th>
            <th scope="col" class="align-middle">Contatti</th>
            <th scope="col" class="align-middle">Indirizzo</th>
            <!-- {% if show_n_donazioni > 0 %}
            <th scope="col" class="align-middle">Ultime {{ show_n_donazioni }} donazioni</th>
            {% endif %} -->
            <th scope="col" class="align-middle">Ultima donazione</th>
            <th scope="col" class="align-middle text-end d-print-none"></th>
        </tr>
    </thead>
    <tbody>
        {% for donatore in page_obj %}
        <tr style="page-break-inside:avoid; page-break-after:avoid;">
            <th scope="row">
                <a href="{% url 'donatore' pk=donatore.pk %}">
                    AVIS: {{ donatore.num_tessera_avis }}<br>
                    C.T.: {{ donatore.num_tessera_ct }}
                </a>
            </th>
            <td>
                {{ donatore.tot_donazioni }}
                <!-- ({{ donatore.donazioni_pregresse }} + {{ donatore.num_donazioni }})-->
            </td>
            <td>
                <a href="{% url 'donatore' pk=donatore.pk %}">
                    {{ donatore.cognome }} {{ donatore.nome }}
                </a>
                {% if show_privacy_check %}
                <br>
                <span class="ps-2">
                    {% if donatore.check_privacy %}
                    <a href="" data-bs-toggle="tooltip" data-bs-title="Annulla consegna del modulo"
                        onclick="handleCheckUncheckPrivacy(event, '{% url 'donatore-uncheck-privacy' pk=donatore.pk %}')">
                        <i class="bi bi-check-square-fill"></i></a>
                        Modulo privacy consegnato
                    {% else %}
                    <a href="" data-bs-toggle="tooltip" data-bs-title="Imposta consegnato"
                        onclick="handleCheckUncheckPrivacy(event, '{% url 'donatore-check-privacy' pk=donatore.pk %}')">
                        <i class="bi bi-square"></i></a>
                        Modulo privacy da consegnare
                    {% endif %}
                </span>
                {% endif %}
            </td>
            <td>{{ donatore.sesso.codice }}</td>
            <td>
                {{ donatore.gruppo_sanguigno }}{{ donatore.rh }}
            </td>
            <td>
                {% if donatore.email %}
                {{ donatore.email }}<br>
                {% endif %}
                {% if donatore.telefono %}
                {{ donatore.telefono }}<br>
                {% endif %}
                {% if donatore.cellulare %}
                {{ donatore.cellulare }}<br>
                {% endif %}
            </td>
            <td>
                {% if donatore.indirizzo %}
                {{ donatore.indirizzo }}<br>
                {% endif %}
                {% if donatore.frazione %}
                {{ donatore.frazione }}<br>
                {% endif %}
                {% if donatore.cap or donatore.comune or donatore.provincia %}
                {% if donatore.cap %}{{ donatore.cap }} {% endif %}
                {{ donatore.comune }}
                {% if donatore.provincia.strip %} ({{ donatore.provincia }}){% endif %}
                <br>
                {% endif %}
            </td>
            <!-- {% if show_n_donazioni > 0 %}
            <td>
                {% for donazione in donatore.donazioni.all|slice:show_n_donazioni %}
                <span class="badge text-bg-light">
                    {{ donazione.data_donazione | date:'d/m/y' }}
                </span>
                {% endfor %}
            </td>
            {% endif %} -->
            <td>
                {% if donatore.ultima_donazione %}
                {{ donatore.ultima_donazione }}
                {% endif %}
            </td>
            <td class="text-end d-print-none">
                <span class="mx-2">
                    {% if donatore.stampa_donatore %}
                    <a href="" data-bs-toggle="tooltip" data-bs-title="Rimuovi da elenco stampa"
                        onclick="handleAddRemovePrint(event, 'remove', '{% url 'donatore-remove-stampa' pk=donatore.pk %}')">
                        <i class="bi bi-x-circle-fill"></i>
                    </a>
                    {% else %}
                    <a href="" data-bs-toggle="tooltip" data-bs-title="Aggiungi a elenco stampa"
                        onclick="handleAddRemovePrint(event, 'add', '{% url 'donatore-add-stampa' pk=donatore.pk %}')">
                        <i class="bi bi-printer-fill"></i>
                    </a>
                    {% endif %}
                </span>
            </td>
        </tr>
        {% if show_n_donazioni > 0 %}
        <tr style="page-break-inside:avoid; page-break-before:avoid;">
            <td colspan="100%">
                Ultime {{ show_n_donazioni }} donazioni:
                {% for donazione in donatore.donazioni.all|slice:show_n_donazioni %}
                <span class="badge badge-tipo-donazione-{{ donazione.tipo_donazione|default_if_none:"0" }}">
                    {{ donazione.data_donazione | date:'d/m/y' }}
                </span>
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{ querystring }}">
                    &laquo;
                </a>
            </li>
        {% else %}
            <li class="disabled page-item">
                <span class="page-link">
                    &laquo;
                </span>
            </li>
        {% endif %}
        {% for i in page_range %}
            {% if page_obj.number == i %}
                <li class="active page-item">
                    <span class="page-link">
                        {{ i }}
                    </span>
                </li>
            {% else %}
                {% if i == page_obj.paginator.ELLIPSIS %}
                    <li class="page-item">
                        <span class="page-link">
                            {{ i }}
                        </span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}&{{ querystring }}">
                            {{ i }}
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ querystring }}">
                    &raquo;
                </a>
            </li>
        {% else %}
            <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
        {% endif %}
    </ul>
</nav>

{% endblock %}
