<div class="container-fluid benemerenza">
    <div class="row align-items-center riga-comune-avis">
        <div class="col text-center">
            <!-- AVIS Comunale di -->
            <h1>Comune AVIS</h1>
        </div>
    </div>

    <div class="row align-items-center riga-donatore">
        <div class="col text-center">
            <h1>{{ donatore.cognome }} {{ donatore.nome }}</h1>
        </div>
    </div>

    <div class="row align-items-center riga-pres-segr">
        <div class="col text-center">
            <!-- Segretario -->
            <strong>Segretario</strong>
        </div>

        <div class="col text-center">
            <!-- Presidente -->
            <strong>Presidente</strong>
        </div>
    </div>

    <div class="row align-items-center riga-luogo-data">
        <div class="col">
            <!-- Comune di -->
            Comune,

            <!-- Data -->
            Data
        </div>
    </div>
</div>
